<%= form_tag search_friends_path, remote: true, method: :post do  %>
  <div class="d-flex justify-content-center form-group row ">
    <div class="col-sm-8">
      <div class="input-group mb-3 mt-5">
        <%= text_field_tag :user,nil, class:"form-control form-control-lg", placeholder:"Search for a user", autofocus:true%>
        <%= button_tag type: :submit, class: "btn btn-success" do%>
          <%= "stock" %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>